.skills{
    margin-top: 40px;
    margin-left: 2vw;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.skills-up{
    width: 70vw;
}

.skills-down{
    width: 36vw;
}

@keyframes slide-left{
    from{
        width: 70vw;
    }
    to{
        width: 36vw;
    }
}
@keyframes slide-right{
    from{
        width: 36vw;
    }
    50%{
        width: 36vw;
    }
    to{
        width: 70vw;
    }
}


.skills>h3{
    margin: 30px;
    font-size: 27px;
    color: #4FCBDF;
    font-weight: 500;
}

.container-logo{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}

.selected{
    position: relative;
    width: auto;
    height: auto;
    z-index: 10;
}
.selected::after{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -10px;
    width: 4px;
    height: 4px;
    content: "";
    background-color: #4FCBDF;
    border-radius: 100%;
}



.container-info>p{
    color: white;
    font-size: 18px;
    line-height: 1.7;
    margin-top: -10px;
}
.container-info>h3{
    font-size: 33px;
    font-weight: 400;
}


@media screen and (max-width: 1456px) {
    
    .skills{
        min-height: 550px;
        width: 100%;
        margin-left: 0;
    }

    .skills-up>div{
       margin-top: 50px;
    }

    .skills-down{
        width: 42.5vw;
    }

    @keyframes slide-left{
        from{
            width: 100%;
        }
        to{
            width: 42.5vw;
        }
    }
    @keyframes slide-right{
        from{
            width: 42.5vw;
        }
        50%{
            width: 42.5vw;
        }
        to{
            width: 100%;
        }
    }

    .container-logo-down{
        margin: 20px ;
    }

    .container-logo-down>div>img{
        width: 40px;
    }
    .container-logo-up>div>img{
        width: 60px;
    }

    @keyframes zoom{
        from{
            width: 40px;
        }
        50%{
            width: 40px;
        }
        to{
            width: 60px;
        }
    }
    @keyframes zoom-out{
        from{
            width: 60px;
        }
        to{
            width: 40px;
        }
    }

}

@media screen and (max-width: 982px) {
    .skills{
        margin-left: 0px;
    }

    .skills-up{
        width: 90vw;
    }
    
    .skills-down{
        width: 42.5vw;
    }

    @keyframes slide-left{
        from{
            width: 90vw;
        }
        to{
            width: 42.5vw;
        }
    }
    @keyframes slide-right{
        from{
            width: 42.5vw;
        }
        50%{
            width: 42.5vw;
        }
        to{
            width: 90vw;
        }
    }

    .container-logo-up{
        justify-content: space-between;
        margin: 0px 30px;
    }
    .container-logo-down{
        margin: 0px 10px;
    }

}

@media screen and (max-width: 730px){
    .skills{
        min-height: 500px ;
    }
    .skills-down{
        width: 90vw;
    }
    .container-logo-down{
       margin: 0px 20px;
    }
    .container-logo-down>div>img{
        width: 60px;
    }
    .skills-up>div{
        margin-top: 0px;
     }
}

@media screen and (max-width: 548px) {
    .container-logo{
        justify-content: space-between;
        margin: 0px 10px;
    }
    .container-logo>div>img{
        width: 10vw;
    }
}