.main{
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

.container-profil{
  display: flex;
  flex-direction: column;
}

.card{
  background-color: #2F343A;
  border-radius: 3px;
}

.second-column{
  display: flex;
  flex-direction: column;
}

.second-row{
  display: flex;
  width: 72.5vw;
  max-height: 300px;
  
}

@media screen and (max-width: 1456px){
  .main{
    flex-wrap: wrap;
    overflow-x: unset;
  }
  .container-profil{
    flex-direction: row;
    flex-wrap: wrap;

    width: 69.5vw;
    margin-left: 20px;
  }
}

@media screen and (max-width: 982px){
  .container-profil{
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 0px;
  }
  .second-column{
    width: 90vw;
  }
  .second-row{
    display: flex;
    width: 100%;
    max-height: 300px;
  }
}

@media screen and (max-width: 731px){
  .second-row{
    flex-direction: column;
  }
}

@media screen and (max-width: 548px){
   .container-profil{
     flex-direction: column;
   }
}