*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* ======== HEADER ========*/

.navbar{
    position: fixed;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 30px 0px;
    background-color: white;
    width: 100%;
    z-index: 1;
    margin: -100px 0px;
}

.navbar>img{
display: none;
}

.navbar>h1{
    font-size: 20px;
    margin-left: 4vw;
}

.navbar>nav{
    display: flex;
    justify-content: baseline;
    margin-right: 4vw;
}

.navbar>nav>li{
    list-style: none;
}

.navbar>nav>li>a{
    text-decoration: none;
    color: grey;
    font-size: 16px;
    margin: 0px 20px; 
}

.logo_linkedin{
    width: 30px;
    margin-top: -4px;
}

.parallax{
    position: relative;
        background-image: url("./images/image_bureau.jpg");
        min-height: 700px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 100px 4vw 0px 4vw;
}

.container_accueil{
    min-height: 700px;
    width: 100%;
    position: absolute;
    margin-top: auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container_accueil>p:nth-child(1){
    font-size: 70px;
    font-weight: 600;
    padding: 0px 10vw;
    text-align: center;
}

.container_accueil>p:nth-child(2){
    font-size: 20px;
    padding: 0px 20%;
    text-align: center;
}

.container_description{
    display: flex;
    margin: 4vw;
}

.text_description{
    width: 49.5%;
    background-color: #f7f7f7; 
    margin-right: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.secondary_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-size: 40px;
    color: #b38a4c;
    font-weight: 500;
}

.secondary_title>span{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding: 20px;

}

.text_description>p{
    line-height: 2.3;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}

.image_description{
    width: 49.5%;
    margin-left: 0.5%;
    object-fit: cover;
}

.container_xp{
    padding-bottom: 80px;
}

.container_xp>div:nth-child(2){
    display: flex;
    margin: 0px 4vw;
}

.container_xp>div:nth-child(2)>div{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_xp>div:nth-child(2)>div:nth-child(1){
    margin-right: 0.5%;
    width: 32.7%;
}
.container_xp>div:nth-child(2)>div:nth-child(2){
    margin-right: 0.5%;
    margin-left: 0.5%;
    width: 32.6%;
}
.container_xp>div:nth-child(2)>div:nth-child(3){
    margin-left: 0.5%;
    width: 32.7%;
}

.container_xp>div:nth-child(2)>div>img{
    width: 90px;
    padding-top: 60px;
}

.date_xp{
    padding: 30px;
}

.container_xp>div:nth-child(2)>div>h3{
    color: #b38a4c;
}

.container_xp>div:nth-child(2)>div>h3>span>a{
    color: #b38a4c;
}

.container_xp>div:nth-child(2)>div>h3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_xp>div:nth-child(2)>div>h3>span:nth-child(2){
    font-style: italic;
}
.container_xp>div:nth-child(2)>div>h3>span:nth-child(2){
    font-weight: 500;
}
.container_xp>div:nth-child(2)>div>h3>span:nth-child(1)>a{
    font-weight: 500;
}

.text_xp{
    font-size: 13px;
    line-height: 2.3;
    padding: 20px 3vw 60px 3vw;
    text-align: center;
}

.container_study>div{
    display: flex;
    margin: 0px 4vw 80px 4vw ;
}
.container_study>div>div:nth-child(1){
    margin-right: 0.5%;
}
.container_study>div>div:nth-child(2){
    margin-right: 0.5%;
    margin-left: 0.5%;
}
.container_study>div>div:nth-child(3){
    margin-left: 0.5%;
}
.container_study>div>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    background-color: #f7F7F7;
}

.container_study>div>div>img{
    width: 30px;
    padding: 40px;
}

.text_study, .link_study{
    text-align: center;
    padding: 0px 2%;
    color: #b38a4c ;
    font-size: 20px;
    font-weight: 500;
}

.link_study{
    padding-bottom: 60px;
}

.date_study{
    margin-bottom: 20px;
}

.container_competence{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.container_competence>div{
    display: flex;
    margin: 0px 4vw;
}

.container_competence>div>div{
    width: 49%;
    background-color: #F7F7F7;
}

.container_competence>div>img{
    width: 49%;
}

.column_left{
    margin: 0px 1% 2% 0px ;
    
}

.column_right{
    margin: 0px 0px 2% 1%;
} 

.text_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_item>p{
    padding: 15px;
}

.text_item>p:nth-child(1){
    color: #b38a4c;
    font-size: 27px;
   
}

.container_contact{
    display: flex;
    margin: 0px 4vw 80px 4vw;
    background-color: #F7F7F7;
    padding-bottom: 40px;
}

.container_contact>div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.container_contact>form{
    background-color: #F7F7F7;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 7%;
    box-sizing: border-box;
    justify-content: space-between;
}

.container_contact>form>input{
    background-color: #F7F7F7;
    margin: 10px 2%;
    flex-basis: 100%;
    border: #000 solid 1px;
    font-size: 16px;
    padding: 5px 0px 5px 5px;
}

.container_contact>form>textarea{
    background-color: #F7F7F7;
    margin: 5px;
    flex-basis: 100%;
    border: #000 solid 1px;
    height: 120px;
    padding: 5px 0px 5px 2%;
}

.container_contact>form>input:nth-child(1){
    flex-basis: 43%;
}

.container_contact>form>input:nth-child(2){
    flex-basis: 43%;
}

.container_contact>form>input[type="submit"]{
    background-color: #000;
    color: white;
    padding: 10px 0px;
}

@media screen and (max-width: 1087px) {

    .container_description{
    flex-direction: column;
}

.container_accueil>p:nth-child(1){
    padding: 0;
}

.text_description{
    width: 90%;
    margin-right: 0;
    margin-bottom: 10px;
}

.image_description{
    width: 100%;
    margin-left: 0;
    height: 400px;
}

.container_xp>div:nth-child(2){
  flex-direction: column;

}

.container_xp>div:nth-child(2)>div:nth-child(1){
    width: 100%;
    margin: 5px 0px;
}

.container_xp>div:nth-child(2)>div:nth-child(2){
    width: 100%;
    margin: 5px 0px;
}

.container_xp>div:nth-child(2)>div:nth-child(3){
    width: 100%;
    margin: 5px 0px;
}

.container_xp>div:nth-child(2)>div>h3{
    flex-direction: row;
}

.text_xp{
    padding: 20px 10vw 60px 10vw;
}



.navbar>img{
    position: absolute;
    display: block;
    margin-right: 4vw ;
    border: none;
    background-color: #FFF;
    right: 0;
    top:30px;
}


}


    @media screen and (max-width: 1087px) {
        .container_contact{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .container_contact>form{
            padding: 0;
            margin: 10px;
            width: 80%;
        }
        .container_contact>form>textarea{
            margin: 10px;
        }
        .container_contact>div{
            width: 100%;
        } 

        .nav_visible{
            background-color: white;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            border-top: solid 2px #EEEEEE;
            width: 100%;
            height: 250px;
            right: -4vw;
            top: 87px;
        }
        .nav_hidden{
          display: none !important;
        }
    
}

@media screen and (max-width: 768px) {
    
    .container_xp{
        padding-bottom: 20px;
    }

    .container_study>div{
        flex-direction: column;
    }

    .container_study>div>div{
        width: 100%;
        margin-bottom: 10px;
    }

    .container_competence>div>div{
        width: 100%;
        margin-bottom: 10px;
        padding: 10vw 0px;
    }

    .container_competence>div{
        flex-direction: column;
        width: 92%;
    }
    .container_competence>div:nth-child(3){
        flex-direction: column-reverse;
    }
    .container_competence>div:nth-child(2){
        margin-bottom: 10px;
    }

    .container_competence>div:nth-child(4)>div{
        margin: 10px 0px 10px 0px;
    }

    .container_competence>div>img{
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 605px) {
    body{
        overflow-x: hidden;
    }
    .parallax{
        margin: 100px 0px 0px 0px;
    }

    .container_accueil>p:nth-child(1){
        font-size: 40px;
    }
    .container_accueil>p:nth-child(2){
        font-size: 16px;
        padding: 0px 5%;
    }

    .container_description{
        margin: 4vw 0px 4vw 0px;
    }
    .secondary_title{
        text-align: center;
    }
    .container_xp>div:nth-child(2){
        margin: 0;
    }
    .container_study>div{
        margin: 0px 0px 80px 0px;
    }
    .container_study>div>div:nth-child(1){
        margin-right: 0;
    }
    .container_competence>div{
        width: 99%;
        margin: 0;
    }
    .container_contact{
        margin: 0px 0px 80px 0px;
    }
    .container_contact>form>input:nth-child(1){
        flex-basis: 100%;
    }
    
    .container_contact>form>input:nth-child(2){
        flex-basis: 100%;
    }
    .container_xp>div:nth-child(2)>div>h3{
        flex-direction: column;
    }
}




